<%= @offers.class %>

<h1>Number of result <%= @offers.response.hits.total %></h1>

<div class="row">
  <% @offers.response.hits.hits.each do |offer| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= offer.inspect %>
          <div class="caption">
            <h4></h4>
          </div>
        </div>
      </div>
  <% end %>
</div>
<%= paginate @offers %>
